.idea
*.iml
target
bower_components/*
node_modules/*
src/main/resources/static/public/build/*
src/main/resources/static/public/js/*
src/main/resources/static/public/images/*
src/main/resources/static/public/**