<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Remote Monitor</title>
    <link href="static/build/css/main.css" rel="stylesheet"/>



</head>

<body>

<script type="text/javascript" src="/resources/static/build/js/vendor.js"></script>
<script type="text/javascript" src="/resources/build/js/main.js"></script>

<div id="home" ui-view autoscroll ></div>

<script type="text/javascript">
//    window.contextPath = '${pageContext.request.contextPath}';

    angular.bootstrap(document, ['mainApp']);


</script>



</body>
</html>